# Foundation of Computer Science Project

This dataset, called the Zurich Transit Bus (ZTBus) dataset, contains information recorded during the journeys of electric city buses in Zurich, Switzerland. The data was collected over several years from two trolley buses as part of various research projects. It includes data from over a thousand missions, covering all seasons, and each mission typically lasts a full day of real bus operation.

The ZTBus dataset provides detailed information on various aspects such as the bus's power usage, propulsion system, distance traveled, GPS location, outside temperature, door openings, number of passengers, and how the buses are dispatched within the public transportation network. All the data is synchronized in time and includes a timestamp.

Researchers can use this dataset for different studies and analyses. For example, it can be used as a foundation for simulations to estimate the performance of different types of public transit vehicles. Additionally, it can help evaluate and improve the control strategies of hybrid electric vehicles. The dataset allows for in-depth analysis of various factors influencing bus operation, such as traffic conditions and passenger volume.

In [1]:
import pandas as pd
import os
import numpy as np
from tqdm.notebook import tqdm
import datetime

In [2]:
metadata = pd.read_csv("./metadata.csv")

In [3]:
metadata.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

## 1. Extract all trips with busRoute 83

In [138]:
bus_83 = metadata.loc[metadata.busRoute=="83",:]

In [139]:
bus_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max,energy_passenger_ratio,startTime_month
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03 04:42:38+00:00,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500,6.578307e+07,March
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06 04:53:23+00:00,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500,9.369755e+07,March
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09 14:16:13+00:00,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500,2.332005e+07,March
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10 04:50:03+00:00,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500,8.071756e+07,March
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12 04:56:41+00:00,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500,6.657197e+07,March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30 04:47:53+00:00,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500,5.596454e+07,November
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01 05:19:41+00:00,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500,5.448874e+07,December
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02 04:47:48+00:00,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500,6.495567e+07,December
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07 05:13:02+00:00,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655,5.338462e+07,December
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08 05:22:20+00:00,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500,4.738047e+07,December

## 2. Extract all trips where `busRoute` is not a number

In [135]:
def not_numeric(x):
    if x.isnumeric():
        return False
    else:
        return True

In [136]:
not_num = metadata.loc[metadata.busRoute.apply(not_numeric),:]

In [137]:
not_num

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max,energy_passenger_ratio,startTime_month
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30 03:18:56+00:00,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15,8.640500e+07,April
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03 02:50:21+00:00,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15,1.673328e+08,May
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10 03:16:11+00:00,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,-,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15,1.583614e+08,May
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13 03:10:23+00:00,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,-,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15,2.087563e+08,May
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24 02:52:47+00:00,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,-,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15,1.925544e+08,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21 22:38:32+00:00,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15,2.661898e+07,October
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22 22:34:45+00:00,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15,2.257266e+07,October
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25 23:35:16+00:00,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15,3.990074e+07,November
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09 23:55:12+00:00,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15,2.247753e+07,December
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10 23:34:46+00:00,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15,3.345769e+07,December

## 3. For each (busNumber, busRoute) pair, determine the number of trips

In [85]:
trip_count = metadata.groupby(["busNumber", "busRoute"]).size()

In [86]:
trip_count

busNumber  busRoute
183        -            11
           31           12
           32           12
           33          130
           46          104
           72          114
           83          441
           N1           10
           N2           19
           N4           11
208        31            5
           32           14
           33           25
           46           19
           72           44
           83          405
           N1            6
           N2           20
           N4            7
dtype: int64

## 4. For each trip, compute the ratio between the energy consumption and the average number of passengers

In [18]:
metadata['energy_passenger_ratio'] = metadata['energyConsumption'] / metadata['itcs_numberOfPassengers_mean']

In [87]:
metadata.loc[:,["name","energyConsumption", "itcs_numberOfPassengers_mean", "energy_passenger_ratio"]]

,name,energyConsumption,itcs_numberOfPassengers_mean,energy_passenger_ratio
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,4.785852e+08,5.538860,8.640500e+07
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,4.022585e+08,33.114580,1.214747e+07
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,1.445733e+09,19.689140,7.342794e+07
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,2.819867e+08,1.685185,1.673328e+08
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,6.207258e+08,23.753570,2.613190e+07
...,...,...,...,...
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52,4.260419e+08,39.808990,1.070215e+07
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,1.536697e+09,28.785390,5.338462e+07
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,1.415700e+09,29.879400,4.738047e+07
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,4.519165e+08,20.105260,2.247753e+07
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,5.350956e+08,15.993200,3.345769e+07

## 5. For each station (itcs_stopName), determine the average number of passengers.

In [88]:
current_directory = os.getcwd()

folder_name = 'ZTBus'
folder_path = os.path.join(current_directory, folder_name)

#list of files in folder
files = os.listdir(folder_path)

#list CSV files
csv_files = [file for file in files if file.endswith('.csv')]

In [91]:
detail = []
columns = [ 'time_iso','itcs_stopName','itcs_numberOfPassengers', 'gnss_altitude','status_haltBrakeIsActive', 
           'status_parkBrakeIsActive','odometry_vehicleSpeed']
i=0
for file in tqdm(csv_files):
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path,usecols=columns,na_values="-",low_memory=False)
    df["Name"] = file[:-4]
    df["busNumber"] = file[1:4]
    df["time_iso"] = pd.to_datetime(df["time_iso"])
    detail.append(df)
    if i == 100:
        break
    i+=1
detail = pd.concat(detail)

  0%|          | 0/1409 [00:00<?, ?it/s]

In [92]:
detail.head()

,time_iso,gnss_altitude,itcs_numberOfPassengers,itcs_stopName,odometry_vehicleSpeed,status_haltBrakeIsActive,status_parkBrakeIsActive,Name,busNumber
0,2020-11-13 14:52:45+00:00,NaN,NaN,NaN,0.0,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
1,2020-11-13 14:52:46+00:00,NaN,NaN,NaN,0.0,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
2,2020-11-13 14:52:47+00:00,NaN,NaN,NaN,0.0,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
3,2020-11-13 14:52:48+00:00,NaN,NaN,NaN,0.0,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183
4,2020-11-13 14:52:49+00:00,429.2,NaN,NaN,0.0,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183

In [93]:
avg_passg  = detail.groupby("itcs_stopName")["itcs_numberOfPassengers"].mean()

In [94]:
avg_passg

itcs_stopName
Zürich, Albisrank                 14.852632
Zürich, Albisriederplatz          24.354343
Zürich, Altes Krematorium         20.723130
Zürich, Bahnhof Affoltern          1.400000
Zürich, Bahnhof Altstetten         7.447419
                                    ...
Zürich, Zehntenhausplatz          13.472222
Zürich, Zentrum Witikon           17.000000
Zürich, Zweiackerstrasse           6.833333
Zürich, Zwinglihaus               24.058642
Zürich,Kalkbreite/Bhf.Wiedikon    22.078947
Name: itcs_numberOfPassengers, Length: 146, dtype: float64

## 6. For each station, determine the buses that have stopped there at least once.

In [95]:
stop_count = detail.groupby(["itcs_stopName","busNumber"],as_index=False).size()
stop_count = stop_count.rename(columns={"size":"stopCount"})

In [96]:
stop_count.loc[stop_count.stopCount>=1,:]

                      itcs_stopName busNumber  stopCount
0                 Zürich, Albisrank       183        434
1                 Zürich, Albisrank       208        421
2          Zürich, Albisriederplatz       183        789
3          Zürich, Albisriederplatz       208        512
4         Zürich, Altes Krematorium       183        693
..                              ...       ...        ...
269        Zürich, Zweiackerstrasse       183         18
270             Zürich, Zwinglihaus       183        213
271             Zürich, Zwinglihaus       208        111
272  Zürich,Kalkbreite/Bhf.Wiedikon       183         13
273  Zürich,Kalkbreite/Bhf.Wiedikon       208         25

[274 rows x 3 columns]

## 7. For each station, determine the buses that have stopped there at least ten times.

In [97]:
stop_count.loc[stop_count.stopCount>=10,:]

                      itcs_stopName busNumber  stopCount
0                 Zürich, Albisrank       183        434
1                 Zürich, Albisrank       208        421
2          Zürich, Albisriederplatz       183        789
3          Zürich, Albisriederplatz       208        512
4         Zürich, Altes Krematorium       183        693
..                              ...       ...        ...
269        Zürich, Zweiackerstrasse       183         18
270             Zürich, Zwinglihaus       183        213
271             Zürich, Zwinglihaus       208        111
272  Zürich,Kalkbreite/Bhf.Wiedikon       183         13
273  Zürich,Kalkbreite/Bhf.Wiedikon       208         25

[204 rows x 3 columns]

## 9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.

In [98]:
overall_energy_dist = metadata.groupby(["busNumber","busRoute"],as_index=False)[["energyConsumption","drivenDistance"]].sum()
overall_energy_dist.head()

   busNumber busRoute  energyConsumption  drivenDistance
0        183        -       1.245498e+10      1999119.75
1        183       31       1.387782e+10      2279952.00
2        183       32       1.393320e+10      2256540.10
3        183       33       1.761996e+11     29510481.41
4        183       46       1.026237e+11     18224657.94

In [99]:
overall_energy_dist["ratio"] = overall_energy_dist["energyConsumption"]/group["drivenDistance"]
overall_energy_dist

    busNumber busRoute  energyConsumption  drivenDistance        ratio
0         183        -       1.245498e+10      1999119.75  6230.233181
1         183       31       1.387782e+10      2279952.00  6086.891785
2         183       32       1.393320e+10      2256540.10  6174.585331
3         183       33       1.761996e+11     29510481.41  5970.747507
4         183       46       1.026237e+11     18224657.94  5631.035959
5         183       72       1.394368e+11     23637238.45  5899.029643
6         183       83       2.995540e+11     51249813.70  5844.977154
7         183       N1       4.217283e+09       705122.71  5980.920966
8         183       N2       7.929098e+09      1390618.35  5701.850332
9         183       N4       4.720068e+09       766868.89  6154.986937
10        208       31       5.535865e+09      1046306.68  5290.862713
11        208       32       1.283340e+10      2337064.21  5491.247671
12        208       33       3.474842e+10      6161892.39  5639.244537
13        208       46       2.337366e+10      4186493.70  5583.110707
14        208       72       5.100382e+10      9427138.15  5410.318878
15        208       83       2.907837e+11     49965928.79  5819.638891
16        208       N1       2.316328e+09       410691.93  5640.061883
17        208       N2       7.913191e+09      1464008.67  5405.152963
18        208       N4       3.152512e+09       519599.97  6067.190112

## 10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.

In [100]:
energy_dist_min_max = overall_energy_dist.groupby(["busRoute"])["ratio"].agg(["min","max"])

In [102]:
energy_dist_min_max["difference"] = energy_dist_min_max["max"]- energy_dist_min_max["min"]
energy_dist_min_max

                  min          max  difference
busRoute
-         6230.233181  6230.233181    0.000000
31        5290.862713  6086.891785  796.029072
32        5491.247671  6174.585331  683.337660
33        5639.244537  5970.747507  331.502969
46        5583.110707  5631.035959   47.925252
72        5410.318878  5899.029643  488.710765
83        5819.638891  5844.977154   25.338263
N1        5640.061883  5980.920966  340.859083
N2        5405.152963  5701.850332  296.697369
N4        6067.190112  6154.986937   87.796825

## 11. Find the bus maximizing the difference computed in the previous point.

In [103]:
energy_dist_min_max["difference"].idxmax()

'31'

## 12. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.

In [105]:
detail["altitude_variation"] = detail.loc[:,"gnss_altitude"].fillna(0).diff()

In [106]:
extracted_rows = detail.loc[detail["altitude_variation"].notnull() & detail["altitude_variation"]!=0,:]

In [107]:
extracted_rows.head()

,time_iso,gnss_altitude,itcs_numberOfPassengers,itcs_stopName,odometry_vehicleSpeed,status_haltBrakeIsActive,status_parkBrakeIsActive,Name,busNumber,altitude_variation
4,2020-11-13 14:52:49+00:00,429.2000,NaN,NaN,0.000000,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,429.2000
26,2020-11-13 14:53:11+00:00,429.1037,NaN,NaN,1.888048,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.0963
27,2020-11-13 14:53:12+00:00,429.1000,NaN,NaN,2.305043,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.0037
48,2020-11-13 14:53:33+00:00,429.0032,NaN,NaN,3.857427,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.0968
49,2020-11-13 14:53:34+00:00,429.0000,NaN,NaN,3.900079,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.0032

## 13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.

In [108]:
extracted_rows.groupby("Name")["altitude_variation"].apply(lambda x: x.abs().sum())

Name
B183_2019-05-18_07-41-27_2019-05-18_23-02-16    114445.974600
B183_2019-07-26_03-53-35_2019-07-26_07-11-31      7558.417600
B183_2019-07-29_03-07-49_2019-07-29_17-48-21     21542.796000
B183_2019-07-31_02-57-04_2019-07-31_23-04-20     29980.296500
B183_2019-08-27_03-03-30_2019-08-27_06-57-39      8991.334000
                                                    ...
B208_2022-08-20_05-40-25_2022-08-20_18-42-51      9465.304000
B208_2022-09-14_08-02-59_2022-09-14_18-08-51      6454.537800
B208_2022-09-22_03-56-12_2022-09-22_07-45-03      7474.803448
B208_2022-11-24_04-52-09_2022-11-24_19-34-19     12107.707800
B208_2022-12-09_23-55-12_2022-12-10_03-24-28      5150.094700
Name: altitude_variation, Length: 101, dtype: float64

## 14. For each month of the year, compute the average ambient temperature

In [109]:
metadata['startTime_iso'] = pd.to_datetime(metadata['startTime_iso'])
metadata['startTime_month'] = metadata['startTime_iso'].dt.month_name()

In [110]:
metadata.groupby("startTime_month")["temperature_ambient_mean"].mean()

startTime_month
April        286.608216
August       295.847943
December     279.381561
February     280.529928
January      278.958474
July         297.376967
June         296.143297
March        283.319157
May          290.051582
November     281.884420
October      287.714072
September    292.362038
Name: temperature_ambient_mean, dtype: float64

## 15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.

In [111]:
detail["time_diff"] = detail.groupby("Name")['time_iso'].diff()
detail["time_diff"] = detail["time_diff"].fillna(datetime.timedelta(seconds=1))
detail["time_diff"] = detail["time_diff"].apply(datetime.timedelta.total_seconds)

In [112]:
halt = detail.loc[detail.status_haltBrakeIsActive==1,:].groupby("busNumber")["time_diff"].sum().reset_index(name="Total_HaltBrake")

In [113]:
park = detail.loc[detail.status_parkBrakeIsActive==1,:].groupby("busNumber")["time_diff"].sum().reset_index(name="Total_ParkBrake")

In [114]:
merge = pd.merge(halt,park)

In [115]:
merge["Ratio"] = merge["Total_HaltBrake"]/merge["Total_ParkBrake"]

In [116]:
merge

  busNumber  Total_HaltBrake  Total_ParkBrake     Ratio
0       183         538044.0         197909.0  2.718643
1       208         433761.0         143606.0  3.020494

## 16. For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.

In [121]:
notnull_rows = detail.loc[detail["itcs_stopName"].notnull(),:]
notnull_rows.head()

,time_iso,gnss_altitude,itcs_numberOfPassengers,itcs_stopName,odometry_vehicleSpeed,status_haltBrakeIsActive,status_parkBrakeIsActive,Name,busNumber,altitude_variation,time_diff
712,2020-11-13 15:04:37+00:00,408.4991,1.0,"Zürich, Herdernstrasse",0.000000,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.4999,1.0
780,2020-11-13 15:05:45+00:00,403.0993,3.0,"Zürich, SBB-Werkstätte",0.000000,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,0.1001,1.0
822,2020-11-13 15:06:27+00:00,395.4988,3.0,"Zürich, Letzipark",0.000000,1.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,-0.1009,1.0
861,2020-11-13 15:07:06+00:00,398.7998,3.0,"Zürich, Letzibach",10.617850,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,0.2016,1.0
906,2020-11-13 15:07:51+00:00,398.8970,3.0,"Zürich, Bahnhof Altstetten",5.408571,0.0,0.0,B183_2020-11-13_14-52-45_2020-11-13_19-13-45,183,0.9980,1.0

In [122]:
trip_name = notnull.loc[:,"Name"].unique()

In [133]:
l=[]
for trip in trip_name:
    df = pd.DataFrame()
    trip_rows = notnull_rows.loc[notnull_rows.Name==trip,:]
    df["consecutive_stops"] = trip_rows.loc[:,"itcs_stopName"] + " -> " + trip_rows.shift(-1).loc[:,"itcs_stopName"]
    df["Average speed"] = np.mean(trip_rows.loc[:,"odometry_vehicleSpeed"] + trip_rows.shift(-1).loc[:,"odometry_vehicleSpeed"])
    df = df.dropna()
    l.append(df)

In [134]:
pd.concat(l, ignore_index=True).groupby("consecutive_stops").mean().round(3)

                                                    Average speed
consecutive_stops
Zürich, Albisrank -> Zürich, Flurstrasse                    1.602
Zürich, Albisrank -> Zürich, Hubertus                       1.602
Zürich, Albisriederplatz -> Zürich, Altes Krema...          1.584
Zürich, Albisriederplatz -> Zürich, Friedhof Si...          1.218
Zürich, Albisriederplatz -> Zürich, Hardplatz               1.498
...                                                           ...
Zürich, Zwinglihaus -> Zürich, Goldbrunnenplatz             2.798
Zürich, Zwinglihaus -> Zürich, Schmiede Wiedikon            1.211
Zürich, Zwinglihaus -> Zürich,Kalkbreite/Bhf.Wi...          2.918
Zürich,Kalkbreite/Bhf.Wiedikon -> Zürich, Kerns...          2.918
Zürich,Kalkbreite/Bhf.Wiedikon -> Zürich, Zwing...          2.798

[319 rows x 1 columns]